[user]
	name = Bryan Stone
	email = aegixx@gmail.com
[core]
	excludesfile = /Users/bryan.stone/.gitignore
[url "git@github.com:"]
    insteadOf = "https://github.com/"

[http]
	postBuffer = 1048576000
[credential]
	helper = !aws --profile ssbs codecommit credential-helper $@
	UseHttpPath = true
[pull]
	rebase = true
