"*":
  "atom-beautify":
    bash: {}
    cpp:
      default_beautifier: "clang-format"
    html: {}
    java: {}
    js: {}
    json: {}
    markdown:
      default_beautifier: "Remark"
    nginx:
      dontJoinCurlyBracet: false
    xml: {}
    yaml: {}
  "atom-ide-ui":
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "tester-go"
      "keybinding-resolver"
      "spell-check"
      "welcome"
      "language-gfm"
      "open-on-github"
      "github"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-writer"
    ]
    projectHome: "/Users/bryan.stone/projects"
    telemetryConsent: "no"
  editor:
    fontSize: 9
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "70af8ffe-0366-33c2-05d2-7698295e6335"
  "git-diff":
    showIconsInEditorGutter: true
  "go-debug":
    clearOutputOnStart: true
    panelInitialVisible: true
  "go-plus":
    config: {}
    format: {}
    skipCodeFormatCheck: true
  "goto-definition": {}
  linter: {}
  "linter-javac":
    additionalJavacOptions: "-J-Dfile.encoding=UTF-8"
  "linter-terraform-syntax": {}
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-writer":
    fileExtension: ".md"
    relativeImagePath: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "minimap-git-diff":
    useGutterDecoration: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0224c7"
        cyan: "#00c6c8"
        green: "#00c300"
        magenta: "#ca31c7"
        red: "#c91b00"
        white: "#c7c7c7"
        yellow: "#c6c400"
      zBright:
        brightBlack: "#686868"
        brightBlue: "#6872ff"
        brightCyan: "#60fdff"
        brightGreen: "#5ffa67"
        brightMagenta: "#ff77ff"
        brightRed: "#ff6d67"
        brightYellow: "#fffc67"
    core: {}
    iconColors:
      blue: "#0224c7"
      cyan: "#00c5c8"
      green: "#00c300"
      magenta: "#ca31c7"
      orange: "#ffcc4f"
      pink: "#ff8ad8"
      purple: "#9437ff"
      red: "#ff2600"
    style:
      theme: "solarized-dark"
    toggles:
      autoClose: true
      runInsertedText: false
      selectToCopy: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "terraform-fmt": {}
  "tree-view":
    autoReveal: true
    focusOnReveal: false
  "tree-view-git-status":
    gitFlow:
      display_type: 2
  welcome:
    showOnStartup: false
".md.text":
  whitespace:
    removeTrailingWhitespace: false
".python.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
