"*":
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "tester-go"
      "keybinding-resolver"
      "spell-check"
      "welcome"
      "color-picker"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-writer"
    ]
    projectHome: "/Users/bryan.stone/projects"
    telemetryConsent: "no"
  editor:
    fontSize: 10
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "70af8ffe-0366-33c2-05d2-7698295e6335"
  "git-diff":
    showIconsInEditorGutter: true
  "goto-definition": {}
  linter: {}
  "linter-terraform-syntax": {}
  "linter-ui-default": {}
  "markdown-writer":
    fileExtension: ".md"
    relativeImagePath: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "minimap-git-diff":
    useGutterDecoration: true
  "platformio-ide-terminal":
    toggles:
      autoClose: true
  "terraform-fmt": {}
  "tree-view": {}
  "tree-view-git-status":
    gitFlow:
      display_type: 2
  welcome:
    showOnStartup: false
".python.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
